In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

#dfrpB_load = pd.read_csv("20181224_pihole.txt", delimiter=';')
#dfrpB_load.index=pd.to_datetime(dfrpB_load['date'])
#dfrpB = dfrpB_load.drop(columns=['date','drop'])
#dfrpB = dfrpB.shift(-5, freq=pd.DateOffset(weeks=1))
covid_load = pd.read_csv("/Volumes/xFiles/github/covid19/Datasets/20200317data.csv", delimiter=',' )
covid_load.index=pd.to_datetime(covid_load['date'])

In [4]:
countries = ('Brazil','Italy','Iran', 'China', 'World')
covid_plot = covid_load.loc[covid_load['location'].isin(countries)]

In [5]:
colunas_drop = ['date', 'new_cases', 'new_deaths']
covid = covid_plot.drop(columns=colunas_drop)
coltot_drop = colunas_drop.copy()
coltot_drop.append('total_deaths')
covid_total = covid_plot.copy().drop(columns=coltot_drop)
coldea_drop = colunas_drop.copy()
coldea_drop.append('total_cases')
covid_deaths = covid_plot.copy().drop(columns=coldea_drop)

In [10]:
covid_deaths

           location  total_deaths
date
2020-02-27   Brazil           NaN
2020-02-28   Brazil           NaN
2020-02-29   Brazil           NaN
2020-03-01   Brazil           NaN
2020-03-02   Brazil           NaN
...             ...           ...
2020-03-12    World        4613.0
2020-03-13    World        4956.0
2020-03-14    World        5393.0
2020-03-15    World        5736.0
2020-03-16    World        6603.0

[203 rows x 2 columns]